.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.addNote {
    width: 80%;
    margin: 30px auto;
    border: 3px solid black;
    border-radius: 50px;
    padding: 15px;
    background: #F3FFFF;
}

fieldset{
    border: none;
}

legend {
    font-size: 2.5em;
    background: #F3FFFF;
    margin: 10px;
    font-weight: bolder;
}

#noteName {
    font-size: 1.2em;
    margin: 0 5px 0 5%;
    border-bottom: 2px solid black;
    text-align: left;
    width: 75%;
}

#noteContent {
    font-size: 1em;
    text-align: left;
    width: 75%;
    height: 15vh;
    margin: 0 5px 0 5%;
}

.text * {
    vertical-align: middle;
}

#chooseFolder {
    font-size: 1.2em;
    margin: 0 5px 0 5%;
    border-bottom: 2px solid black;
    width: 70%;
}

#chooseFolder > option {
    background: white;
    color: black;
}

.addNoteButton {
    padding: 10px 20px;
    background: rgb(255, 209, 83);
    border-radius: 50px;
    font-size: 14px;
    width: 30%;
    font-weight: bold;
}

.addNoteButton:disabled {
    background: lightgray;
}

.addNoteButton:hover:enabled {
    border: 3px solid darkorange;
    background: orange;
}

.addNoteButton:active {
    border: 3px solid orange;
    background: yellow;
}

.errorBox {
    font-size: 1.2em;
    font-weight: bolder;
    color: red;
}