.note {
    background: #FEFFFF;
    padding: 15px;
}

.noteTitle {
    background:  #FEFFFF;
    padding: 10px;
}

.note > a:hover, .note:hover{
    color: rgb(180, 79, 51);
}

a {
    background:  #FEFFFF;
    color:#17252A;
}

.date {
    background: #FEFFFF;
    color: #2B7A78;

}

.noteModifiedDate {
    background: #FEFFFF;
    padding: 5px 5px 5px 10px;
    color: #2B7A78;
    font-size: 0.6em;
}

.deleteNote {
    background: #2E9CCA;
    margin: 5px;
}

.deleteNoteButton {
    margin: 10px;
    width: 6em;
    height: 2em;
    background: black;
    color: white;
    border-radius: 30px;
}

.deleteNoteButton:hover {
    background: red;
}

.deleteNoteButton:active {
    color: red;
}

.allNotes > .buttonBox {
    margin: 10px 30px;
}

.allNotes > ul {
    margin: 0;
}

.noInfo {
    background: white;
    color: red;
    border: 2px solid red;
    font-size: 16px;
    padding: 3em;
}