.addFolderBox {
    margin: 30px auto;
    border: 2px solid black;
    width: 60%;
    background: #F3FFFF;
    border-radius: 50px;
    padding: 20px;
}

.noteForm, .noteForm > .text, .text > * {
    background: #F3FFFF;
}

label {
    font-weight: bold;
    font-size: 1.5em;
}

.text {
    margin: 5%;
}

#folderName {
    border-bottom: 3px solid black;
    text-align: left;
    font-size: 1.5em;
    width: 90%;
    margin: 10% 5% 0 ;
}

.addFolderBox > .buttonBox {
    margin: 50px;
}

.addFolderbuttonBox {
    background: white;
    padding: 15px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.addFolderButton {
    background: rgb(255, 209, 83);
    border-radius: 50px;
    font-size: 14px;
    width: 30%;
    font-weight: bold;
}

.addFolderButton:disabled {
    background: lightgray;
}

.addFolderButton:hover:enabled {
    border: 3px solid darkorange;
    background: orange;
}

.addFolderButton:active {
    border: 3px solid orange;
    background: orange;
    font-size: 18px;
}

.cancelButton {
    background: lightcoral;
    border-radius: 50px;
    font-size: 14px;
    width: 30%;
    font-weight: bold;
}

.cancelButton:hover {
    border: 3px solid darkred;
    background: red;
}

.cancelButton:active {
    border: 3px solid red;
    background: red;
    font-size: 18px;
}