header {
    background: #17252A; 
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FEFFFF;
    background: #17252A; 
}