.allFolders {
    background: #2B7A78;
    width: 100%;
}

.allFolders > h2 {
    padding: 10px;
    background: #2B7A78;
    color: darkslateblue;
}

.allFolders > li {
    color: white;

}
 
.folderList {
    padding: 0;
    background: #2B7A78;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 30px;
}

.folderName {
    list-style: none;
    background: #2B7A78;
    font-size: 1.2em;
    width: 100%;
    padding: 5px 0 5px 0;

    color: #2B7A78;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.folderLink {
    padding: 25px 0 25px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2B7A78;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.folderLink:hover{
    color: rgb(156, 103, 5);
}

.folderLink.active, .folderLink:hover, .folderLink:hover > .nameBox, 
.folderLink:hover > .nameBox > .numberNotes, 
.folderLink.active > .nameBox, .folderLink.active > .nameBox > .numberNotes {
    background: #3AAFA9;
}

.nameBox {
    max-width: 60%;
    font-size: 16px;
    overflow-wrap: break-word;
}

.numberNotes, .nameBox {
    background: #2B7A78;
}

.deleteFolderButton {
    background: black;
    color: white;
    border-radius: 30px;
    height: 3em;
    margin: 10px;
}

.deleteFolderButton:hover {
    background: red;
}

.deleteFolderButton:active {
    color: red;
}