.backButton {
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: double 5px black;
    vertical-align: middle;
    overflow: hidden;
    transition: 0.6s;
    background: #Feffff;
}

.backButton:hover {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.addFolderButtonMain {
    background: rgb(255, 209, 83);
    font-size: 15px;
    margin: 30px auto;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bolder;
    border-bottom: solid 4px #627295;
    width: 50%;
}

.addFolderButtonMain:hover, .addButton:hover {
    background: orange;
}

.addFolderButtonMain:active, .addButton:active {
    /* got css idea from https://saruwakakun.com/en/css3-buttons*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    border-bottom: none;/*disappears*/
}

.addButton {
    background: rgb(255, 209, 83);
    font-size: 18px;
    padding: 0.5em 2.5em;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 10px 0px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bolder;
    border-bottom: solid 4px #627295;
}