* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    text-decoration: none;
    background: whitesmoke;
}

.App {
    display: flex;
    flex-direction: column;
}

main {
    height: 85vh;
    display: flex;
    flex-direction: row;
}