* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    text-decoration: none;
    background: #2B7A78;
}

.App {
    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: row;
   
}

.noteList {
    background: #3AAFA9;
    height: 85vh;
    width: 100%;
}