* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
}

.container1 {
    background: #2B7A78;
    width: 30%;
    min-height: 85vh;
}

.container2 {
    background: #3AAFA9;
    width: 70%;
    min-height: 85vh;
    margin-bottom: 0;
}
